
@media(max-width:768px)
{
//Productos HTML
.card-container{
    @include flex(column);
 }
//Contacto HTML
 form{
    @include flex(column);
    }

//Donde-Comprar HTML
.section-dondecomprar{
    @include flex(column);
     article{
        background: none;
        width: 100%;
        height: auto;
        img{
            width: auto;
            height: auto;
        }
     }
}
  
//Index HTML
.main {
    img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}
.section-principal{
    div{
        width: auto;
        height: 300px;
        padding: 10px 10px;
        align-items: center;
        justify-content: center;
    }
}
//Quienes-somos HTML
.section-quienesomos{
     padding: 80px 5%;   
     display: flex;
    flex-direction: column;
    div{
        padding-top: 20PX;
         width: auto;
        height: auto;
    }
}
  
    

}