

.section-principal{
    width: auto;
    height: 300px;
    background-color: map-get($color , secundario );
    @include flex(row);
    padding: 40px 40px;
    div{
        justify-content: space-between;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 50%;
        height: auto; 
        img{
            width: 50px;
        }
        p{
            margin-top: 5px;
            text-align: center;
            
        }
    }
}

.section-article{
    width: auto;
    display: flex;
    flex-direction: row;
    article{
        background-color: map-get($color , primario );
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        div{
            padding: 20px;
        }
    }
    img{
        width: auto;
        height: 400px;
        object-fit: cover;
        display: flex;
        flex-direction: row;
    }
}